@charset "UTF-8";
@import './helpers/functions', './helpers/mixins', './helpers/variables', './components/card', './components/buttons'; 

body{
    color:$base-color;
    font-weight: $noraml; 
}

/*********common**********/
/*layout*/
.flex{
  display: flex;
  .col-1{
    width:10%;
  }
  .col-2{
    width:20%;
  }
  .col-3{
    width:33.3%;
  }
  .col-4{
    width:40%;
  }
  .col-5{
    width:50%;
  }
  .col-6{
    width:60%;
  }
  .col-7{
    width:70%;
  }
  .col-8{
    width:80%;
  }
  .col-9{
    width:90%;
  }
}
/*font-size*/
.fs-24{
    font-size:$fs-24
}
.fs-20{
    font-size:$fs-20
}
.fs-16{
    font-size:$fs-16
}
.fs-14{
    font-size:$fs-14
}
.fs-12{
    font-size:$fs-12
}
.fs-10{
    font-size:$fs-10;
}
.fs-8{
    font-size:$fs-8;
}
/*font-weight*/
.fwb{
    font-weight: $bold;
}


// margin
.mg-auto {
    margin: auto !important;
  }
  .mg-auto-x {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .mg-auto-y {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
  .ml-auto {
    margin-left: auto !important;
  }
  .mr-auto {
    margin-right: auto !important;
  }
  .mt-auto {
    margin-top: auto !important;
  }
  .mb-auto {
    margin-bottom: auto !important;
  }
  
  @for $i from 0 through 100 {
    .mg-#{$i} {
      margin: $i * 1px !important;
    }
    .mg-#{$i}-x {
      margin-left: $i * 1px !important;
      margin-right: $i * 1px !important;
    }
    .mg-#{$i}-y {
      margin-top: $i * 1px !important;
      margin-bottom: $i * 1px !important;
    }
    .mt-#{$i} {
      margin-top: $i * 1px !important;
    }
    .mb-#{$i} {
      margin-bottom: $i * 1px !important;
    }
    .ml-#{$i} {
      margin-left: $i * 1px !important;
    }
    .mr-#{$i} {
      margin-right: $i * 1px !important;
    }
  }
  
  // padding
  @for $i from 0 through 100 {
    .pd-#{$i} {
      padding: $i * 1px !important;
    }
    .pd-#{$i}-x {
      padding-left: $i * 1px !important;
      padding-right: $i * 1px !important;
    }
    .pd-#{$i}-y {
      padding-top: $i * 1px !important;
      padding-bottom: $i * 1px !important;
    }
    .pt-#{$i} {
      padding-top: $i * 1px !important;
    }
    .pb-#{$i} {
      padding-bottom: $i * 1px !important;
    }
    .pl-#{$i} {
      padding-left: $i * 1px !important;
    }
    .pr-#{$i} {
      padding-right: $i * 1px !important;
    }
  }
  

  /*title*/
  h1{
    font-weight: $bold;
    font-size: $fs-24;
  }