// button
.button{
    display: inline-block;
    min-width: max-content;
    padding: 0.85rem;
    border-radius: 1.2rem;
    font-size: $fs-16;
    font-weight: $bold;
    text-align: center;
    &.-l{
        padding: 1.25rem;
        border-radius: 1.6rem;
    }
    &.-s{
        padding: 0.55rem;
        font-size: $fs-12;
        font-weight: $normal;
        border-radius: 0.8rem;
    }
    &.primary{
        background-color: $main-color;
        color:#fff;
        &:focus, :active{
            background-color: $main-dark-color;
        }
    }
    &.line{
        border: 1px solid $main-color;
        background-color: #fff;
        color:$main-color;
        &:focus, :active{
            background-color: $main-bg-color;
        }
    }
    &.flat{
        background-color: $main-bg-color;
        color:$main-color;
        &:focus, :active{
            color: $main-dark-color;
        }
    }
    &.ghost{
        background-color: transparent;
        color:$main-color;
        &:focus, :active{
            color: $main-dark-color;
        }
    }
    &.disable{
        color:#585858;
        background-color: #cfcfcf;
        cursor: default;
    }
    &:disabled{
        color:#585858;
        background-color: #cfcfcf;
    }
}

.btn-follow{
    display: inline-block;
    padding: 0.55rem;
    border-radius: 0.8rem;
    font-size: $fs-12;
    font-weight: $normal;
    color:$base-color;
    text-align: center;
    box-shadow: 0rem 0.2rem 0.6rem rgba(20,36,91,0.12);
    &.-orange{
        background-color: $main-color;
        color:#fff;
    }
    &.-gray{
        background-color: #cfcfcf;
        color:$base-color;
    }
}