.card {    
  box-shadow: 0 .2rem .6rem 0 rgba($color: #111111, $alpha: .12);
  box-sizing: border-box;
  &.line{
    border: .2rem solid $base-color;
  }
  &.r-8 {
    border-radius:.8rem;
  }
  &.r-16 {
    border-radius:1.6rem;
  }
  &.r-32 {
    border-radius:3.2rem;
  }    
}