//input text
input{
    -moz-user-select: auto;
    -webkit-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}
.input-wrap{
    position: relative;
    width: fit-content;
    .input-text{
        height: 4.4rem;
        padding:0 1.6rem;
        outline: 0;
        border: 1px solid #cfcfcf;
        border-radius: 1.6rem;
        background-color: #fff;
        font-size: $fs-16;
        font-weight: $normal;
        color:$base-color;
        box-sizing: border-box;
        &::placeholder{
            color: #707070;
        }
        + .btn-in-input{
            display: none;
        }
        &.input{
            &:focus{
                border:1px solid $base-color;
                + .btn-in-input{
                    display: block;
                }
            }
            &:active{
                border:1px solid $base-color;
                + .btn-in-input{
                    display: block;
                }
            }
        }
        &.error{
            border: 1px solid $error-color;
            color: $error-color;
            &:focus{
                border:1px solid $error-color;
            }
            &:active{
                border:1px solid $error-color;
            }
            &::placeholder{
                color: $error-color;
            }
        }
        &.-email{
            padding:0 1.6rem 0 4.4rem;
            background-image: url(../images/ico-user.svg);
            background-repeat: no-repeat;
            background-size: 2.4rem;
            background-position: 1.6rem center;
        }
        &.-small{
            height: 3.2rem;
            border-radius: 1.2rem;
            + .btn-in-input{
                top:0.4rem;
            }
        }
        &:disabled{
            background-color: #cfcfcf;
            color: #707070;
            &:focus{
                border:0;
                + .btn-in-input{
                    display: none;
                }
            }
            &:active{
                border:0;
                + .btn-in-input{
                    display: none;
                }
            }
        }
    }
    .ico-del{
        position: absolute;
        right: 1.6rem;
        top: 1rem;
        width: 2.4rem;
        height: 2.4rem;
        background: url(../images/ico-circle-delete.png) no-repeat 0 0/cover;
    }
}
