.bottom-nav {  
  display:flex;   
  justify-content:space-between; 
  height:5.4rem;  
  margin:0 1.6rem;  
  padding:.6rem 1rem;
  border-radius:1.6rem;
  box-shadow: 0 .2rem .6rem 0 rgba($color: #111111, $alpha: .12);  
  box-sizing: border-box;
  a {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:5.2rem;
    .nav-icon {
      width:3rem;
      height:3rem;      
      + span {
        font-size:1rem;        
      }
    }    
    &:first-child .nav-icon {
      background: url(./../images/nav-home.png) center / contain  no-repeat;
    }  
    &:nth-child(2) .nav-icon{
      background: url(./../images/nav-feed.png) center / contain  no-repeat;
    }
    &:nth-child(3) .nav-icon{
      background: url(./../images/nav-camera.png) center / contain  no-repeat;
    }
    &:nth-child(4) .nav-icon{
      background: url(./../images/nav-music.png) center / contain  no-repeat;
    }
    &:last-child .nav-icon{
      background: url(./../images/nav-my.png) center / contain  no-repeat;
    }  
    &.on {
      &:first-child .nav-icon {
        background: url(./../images/nav-home-on.png) center / contain  no-repeat;
      }  
      &:nth-child(2) .nav-icon{
        background: url(./../images/nav-feed-on.png) center / contain  no-repeat;
      }
      &:nth-child(3) .nav-icon{
        background: url(./../images/nav-camera-on.png) center / contain  no-repeat;
      }
      &:nth-child(4) .nav-icon{
        background: url(./../images/nav-music-on.png) center / contain  no-repeat;
      }
      &:last-child .nav-icon{
        background: url(./../images/nav-my-on.png) center / contain  no-repeat;
      }
    }
  }
}